form{
	margin: 50px 400px;
	width: 400px;
}
form div  {
	margin-top: 20px;
}
label {
	display: inline-block;
	width: 100px;
	text-align: right;
	box-sizing: border-box;
  	padding-right: 1em;
}
input{
	font-size: 1em;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
}
span {
	display: none;
	margin: 3px 0 0 110px;
	font-size: 12px;
	color: #AEA7A7;
	height: 20px;
}
button{
	color: #fff;
	background-color: #317ef3;
	border: 1px solid #317ef3;
	border-radius: 3px;
	outline: none;
	margin-left: 262px;
	margin-top: 20px;
}


		
/*form div + div{
	margin-top: 20px;
}
label {
		display: inline-block;
		width: 100px;
		text-align: right;
	box-sizing: border-box;
		padding-right: 1em;
}
p{
	margin: 3px 0 0 100px;
	font-size: 12px;
}
input{
	font-size: 1em;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
}
button{
	color: #fff;
	background-color: #317ef3;
	border: 1px solid #317ef3;
	border-radius: 3px;
	outline: none;
}
.btn{
	text-align: right;
}
