body {
  margin: 0;
  border: 0;
  padding: 0;
}
.grid-container {
	width: 100%;
	box-sizing: border-box;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

/*-- our clearfix hack --*/
.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}

.row > * >div {
	background-color: #eee;
	border: 1px solid #999;
	height: 80px;
}

[class*='col-'] {
        float: left; 
        min-height: 1px; 
        /*-- our gutter -- */
        box-sizing: border-box;
        padding: 20px;
        position: relative;
 }
 [class*='col-xs-'] {
        float: left; 
        min-height: 1px; 
        /*-- our gutter -- */
        box-sizing: border-box;
        padding: 20px;
        position: relative;
 }
 @media (min-width: 768px) and (max-width: 1280px){
 	.col-1 { width: 8.33%; }
	.col-2 { width: 16.66%; }
	.col-3 { width: 25%;}
	.col-4 { width: 33.33%; }
	.col-5 { width: 41.66%;}
	.col-6 { width: 50%; }
	.col-7 { width: 58.33% }
	.col-8 { width: 66.66%; }
	.col-9 { width: 74.99%; }
	.col-10 { width: 83.33%; }
	.col-11 { width: 91.66%; }
	.col-12 { width: 100%; }	
 }


/*.outline, .outline * {
	outline: 1px solid black;
}*/

[class*='col-'] > p {
	padding: 0;
	margin: 0;
	text-align: center;
	color: red;
}

@media (max-width: 768px){
	.col-xs-1 { width: 8.33%; }
	.col-xs-2 { width: 16.66%; }
	.col-xs-3 { width: 25%;}
	.col-xs-4 { width: 33.33%; }
	.col-xs-5 { width: 41.66%;}
	.col-xs-6 { width: 50%; }
	.col-xs-7 { width: 58.33% }
	.col-xs-8 { width: 66.66%; }
	.col-xs-9 { width: 74.99%; }
	.col-xs-10 { width: 83.33%; }
	.col-xs-11 { width: 91.66%; }
	.col-xs-12 { width: 100%; }
}










