li a{
	color: red;
}
#header {
	background: black;
	color: white;
	height: 80px;
}
#header h1 {
	display: inline-block;
	float: left;
}
#header ul {
	float: right;
	height: 100%
	vertical-align: middle;
} 
#header li,a{
	display: inline-block;
	list-style: none;
	vertical-align: middle;
} 
.box {
	background: silver;
	padding: 20px 40px;
	margin-bottom: 0px;
}
.box1 {
	background: white;
	border: 1px solid silver;
	margin: 20px;
	padding: 10px 20px;
}

.box2 {
	background: white;
	border: 1px solid silver;
	margin: 10px 40px 10px 20px;
}
.box2 p {
	text-indent: 3em;
}
.box2 ul {
	list-style-type: none;
}
.box3 {
	background: white;
	border: 1px solid silver;
	padding: 10px;
	margin: 10px 20px;
}
/*.box3 ul div {
	border: 2px dotted red;
	display: inline-block;
	text-align: center;
}*/

.box3 div {
	border: 1px dashed ;
	text-align: center;
	width: 400px;
	height:250px;
	margin-top: 10px;
}
.box4 {
	background: white;
	border: 1px solid silver;
	padding: 10px;
	margin: 10px 20px;
}
table {
	display: inline-table;
	border: 1px solid #7a7;
	border-collapse: collapse;
	width: 100%;
}
table thead {
	background: gray;
	font: white;
	color: white;

}
table tfoot {
	background: silver;
}
table thead th {
	border-left: 1px solid #7a7;
}
table td {
	border: 1px solid #7a7;
}
.box5 {
	background: white;
	border: 1px solid silver;
	padding: 10px;
	margin: 10px 20px;

}
.formField {
	padding: 10px 220px;
}
label {
	display: inline-block;
	width: 180px;
}
.box6 {
	background: black;
	text-align: center;
	color: white;
	height: 50px;
	padding-top: 0px;
	margin-top: 0px;
}
h3 {
	font-family: "Sonti SC";
	font-size: larger;
	line-height: 125%;
	text-decoration: underline;
	font-style: italic;
	color: silver;
	font-weight: bold;
}
h4 {
	font: 12px "Hiragino Sans GB";
	/*font-family: "Hiragino Sans GB";*/
	color: gray;
}